{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    @font-face {
      font-family: 'Product Sans';
      font-style: normal;
      font-weight: 400;
      src: url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
    }
    .main {
      font-family:'Product Sans';
    }
    .customClassForDropDown{
       height: 300px;
       overflow-y: auto;
    }
    .dropdown-menu .dropdown-item {display: inline-block; width: 100%; padding: 10px 5px;}
    </style>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>BitWork</title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    
</head>


<body class="main">





<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="">
        
        {% if user.is_authenticated %}
        <svg class="bi bi-lock-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <rect width="11" height="9" x="2.5" y="7" rx="2"/>
  <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
</svg>
{% else %}

<svg class="bi bi-unlock-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z"/>
  <path fill-rule="evenodd" d="M8.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
</svg>
{% endif %}

BitWork</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            
{% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="">Look&nbspfor&nbspClients</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/projectsubmit">Project&nbspSubmission</a>
            </li>

            <li class="nav-item">
                    <a class="nav-link" href="">Active&nbspProjects</a>
                </li>
{% else %}

            <li class="nav-item">
              <a class="nav-link" href="">Explore&nbspMarketplace</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="">Join&nbspas&nbspa&nbspFreelancer</a>
            </li>

            <li class="nav-item">
                    <a class="nav-link" href="">Place&nbspa&nbspRequest</a>
                </li>

            {% endif %}



          </ul>
        </div>

        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
{% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" href="/login/dashboard">Sign Out</a>
                </li>
{% else %}
<li class="nav-item">
                    <a class="nav-link active" href="/login">Sign In</a>
                </li>
                 {% endif %}
            </ul>
        </div>
      </nav>

      
    {% block page_content %}

    {% endblock page_content %} 
</body>
</html>
